@mixin breakpoint($point) {
  @if $point == large {
    @media (max-width: 1200px) { @content; }
  }
  @else if $point == medium {
    @media (max-width: 1000px) { @content; }
  }
  @else if $point == small {
    @media (max-width: 600px)  { @content; }
  }
  @else if $point == xsmall {
    @media (max-width: 400px)  { @content; }
  }
}

$pink: darken(pink, 15%);
$turq: darken(turquoise, 10%);

* {
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
}

#container {
	width: 100%;
	height: auto;
	position:relative;
	overflow:auto;
	transition: border 1s;
	overflow: hidden;
	@include breakpoint(small){
			width:100%;
			
		}
}

.wrap {
	position:relative;
	width:80%;
	max-width:1100px;
	margin: 0 auto;
	@include breakpoint(small){
			width:100%;
			padding:20px;
			
		}
}

.header {
	position:relative;
	width:100%;
	min-height:0;
	height:350px;
	background: darken(turquoise, 10%);
	.wrap{
		height: 100%;
	}
	.more {
		font-family: fontawesome;
		content:"\f13a";
		color:#fff;
		position:absolute;
		display: block;
		font-size:2.5em;
		width:50px;
		left: 50%;
		left: calc(50% - 20px);
		bottom:10px;
		transition: color 300ms;
		cursor:pointer;
	}
	
	nav {
		z-index:10000;
		display: block;
		position: fixed;
		left:0;right:0;
		width:100%;
		height:60px;
		color:#fff;
		.logo{
			position:relative;
			z-index:100;
			display:none;
			width: 30px;
			margin-top:17px;
			cursor:pointer;
		}
		.logo-name{
			font-family: klinic-medium;
			color:transparent;
			position: absolute;
			left:0;
			top:0;
			margin:16px 0;padding:0;
			font-size:1.5em;
			transition:all 300ms;
		}
		.show{
			color:#fff;
			padding-left:35px;
		}
		ul {
			width:380px;
			float:right;
			margin-top:20px;
			line-height:12px;
			text-align:right;
			li{

				padding:0;
				font-size: .7em;
				padding-left:20px;
				padding-right:0;
				margin:0;
				display:inline;
			}
			a {
				font-family: klinic-medium;
				color: #fff;
			}
			@include breakpoint(medium){
				display:none;
			}
		}
	}
	.navicon{
		z-index:10000;
		right:0;top:0;
		position: fixed;
		display: none;
		line-height:45px;
		font-size:25px;
		text-align:center;
		width:50px;
		height:50px;
		color:#fff;
		background-color:#333;
		transform: rotate(90deg);
		margin:20px;
		cursor:pointer;
		transition: all 500ms;
		&:hover{
		}
		@include breakpoint(medium){
			display: block;
		}
	}
}


.intro {
	position: absolute;
	margin: auto;
	left:0;bottom:0;top:0;
	width: 600px;
	height:240px;
	font-size:1.5em;
	@include breakpoint(small){
		width:100%;
		line-height:30px;
	}
	.hello {
		color:#fff;
		margin-left:10px;
		line-height:45px;
		margin-bottom: 5px;
	}
	.title {
		font-family: klinic-medium;
		color: #fff;
		margin-top: 10px;
		background-color:transparent;
		border: solid 3px #fff;
		@include breakpoint(small){
			width:95%;
			text-align:center;
			margin:10px;
		}
	}
}

.work{
	position: relative;
	height: 80%;
	width:100%;
	height: auto;
	background: #fff url("../imgs/concrete-wall.png") repeat repeat;
	float:left;
	overflow: hidden;
	.wrap{
		position:relative;
		padding-top:100px;
		padding-bottom:120px;
		margin:0 auto;
		padding:0;
		padding-top:40px;
	}
	.title {
		color:$pink;
	
	}

	figure{
		position:relative;
		float:left;
		width:100%;
		height: auto;
		margin-bottom:90px;
		img{
			float:left;
			width: 60%;
		}
		&:nth-child(even) img{
			float:right;
		}
		&:nth-child(even) figcaption{
			right:auto;
			left:0;
		}
		figcaption{
			position:absolute;
			margin: auto;
			right:0;
			left: auto;
			top:0;
			bottom:0;

			height:300px;
			width:35%;
			width:calc( 40% - 20px);
			padding-left:20px;
			h1{
				padding:0;
				margin:0;
			}
			small{
				font-size:1em;
			}
			p{
				font-size:1.4em;
			}
		}
	
		figcaption button{
			margin:0 auto;
			width: 90%;
			transition: all 500ms;
			height: 60px;
			color:#333;
			background-color: transparent;
			border: solid 2px #333;
			outline:none;
		}
		figcaption button:hover{
		
			background-color:transparent;
			transition: all 500ms;
			color:#fff;
			background-color:#333;
			
		}
	}
}

.about{
	width:100%;
	height:100%;
	background: #000 url(../imgs/paper_fibers.png) repeat repeat;
	float:left;
	padding-bottom:10%;
	hr{
		border:none;
		border-bottom: solid 1px $turq;

	}
	.title{ 
	background-color: transparent;
	color:$pink;
	font-family: klinic-medium;
	border: solid 3px $pink;
	@include breakpoint(small){
			width:100%;
			text-align:center;
			padding:0;
			margin:0 auto;
		}
}
	p {
		color: #333;
		font-family: klinic-light;
	}
	.wrap{
		padding-top:100px;
		padding-bottom:100px;
	}
}




.contact{
	background: darken(turquoise, 10%) url("../imgs/concrete-wall.png") repeat repeat;
	width:100%;
	padding-bottom:200px;
	height: 100%;
	float:left;
	.wrap{
		padding-top:100px;
		padding-bottom:100px;
	}
	.contactme{
		color:#fff;
		border: solid 3px #fff;
		@include breakpoint(small){
			width:100%;
			text-align:center;
			padding:0;
			margin:0 auto;
		}
	}
}


label{float:left;}
input{
	float:left;

}
.nameholder,.emailholder,.messageholder{
	margin-left: -15px;
	display: inline-block;
	width:100%;
	min-width:300px;
	height:auto;
	float:left;
	color:#fff;
	font-size: 1.7em;
	
}
.nameholder{
	margin-top:60px;
}
#name{
	border:none;
	outline:none;
	border-color: #fff;
	border-bottom: solid 3px rgba(255,255,255,1);
	
	background-color: rgba(0,0,0,0);
	width: 100%;
	height:60px;
	padding-left: 20px;
	&::-webkit-input-placeholder {
	    color: #fff;
	}

	&::-moz-placeholder { /* Firefox 18- */
	    color: #fff;
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	    color: #fff;
	}

	&:-ms-input-placeholder {  
	   color: #fff;
	}
	&:focus{
		transition: all 300ms;
		background-color: darken(turquoise, 15%);
		border-color:#fff;
	}
}
#email{
	border:none;
	outline:none;
	border-color: #fff;
	border-bottom: solid 3px rgba(255,255,255,1);
	background-color: rgba(0,0,0,0);
	width: 100%;
	height:60px;
	padding-left: 20px;
	&::-webkit-input-placeholder {
	   color: #fff;
	}
	&::-moz-placeholder { /* Firefox 18- */
	   color: #fff;
	}
	&::-moz-placeholder {  /* Firefox 19+ */
	    color: #fff;
	}
	&:-ms-input-placeholder {  
	    color: #fff;
	}
	&:focus{
		transition: all 300ms;
		border-color:#fff;
		background-color: darken(turquoise, 15%);
	}
}
#form{
	border:none;
	outline:none;
	border-color: #fff;
	border-bottom: solid 3px rgba(255,255,255,1);

	background-color: rgba(0,0,0,0);
	width: 100%;
	height: 60px;
	padding-left: 20px;
	padding-top:15px;
	transition: all 300ms;
	&::-webkit-input-placeholder {
	   color: #fff;
	}

	&::-moz-placeholder { /* Firefox 18- */
	    color: #fff;
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	    color: #fff;
	}

	&:-ms-input-placeholder {  
	    color: #fff;
	}
	&:focus{
		background-color: darken(turquoise, 15%);
		transition: all 300ms;
		height:140px;
		border-color:#fff;
		transition: all 300ms;
		}
	}
	@media(max-height: 900px){
			#form:focus{
				height:100px;
			}
		}

.buttonholder{
	width:100%;
	float:left;
	margin-top:50px;
}
.submit-button {
	color:#fff;
	float:right;
	font-family: klinic-medium;
	background-color: #000;
	width:100px;
	height:60px;
	border:none;
	background-color: $pink;
	border-bottom:solid 4px darken($pink, 5%);
	margin-right:15px;
	&:hover{
		transition: background-color 300ms;
		background-color: darken($pink, 10%);
	}

}
.details{
	float:left;
	width:100%;
	background: $pink;
	padding:0;margin:0;
	height: auto;
	position:relative;
	padding-bottom: 40px;
	.wrap{
		padding-top:100px;
		padding-bottom:60px;
	
	}
	h1{
		display:block;
		width:420px;
		margin: 0 auto;
		margin-bottom: 40px;
		
		transition: all 300ms;
		cursor:pointer;
		padding: 10px;
		padding-left:20px;
		padding-right:20px;
		text-align:center;
		color:#fff;
		background-color: #444;
		border-bottom: solid 4px #333;

		&:hover{
			background-color:#000;
		}
	}
	p {
		padding: 10px;
		padding-left:20px;
		padding-right:20px;
		display: block;
		margin: 0 auto;
		width: 340px;

	}
	&:before{

		content:"";
		display:block;
		position:absolute;
		width: 0; 
		height: 0; 
		left:calc(50% - 20px);
		margin-top:-20px;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-bottom: 20px solid $pink;
	}
}
.social {
	display:block;
	float:left;
	width:100%;
	height: auto;
	padding-bottom:100px;
	background:#333 url("../imgs/black-felt.png") repeat repeat;
	.wrap{
		padding-top:100px;
		padding-bottom:100px;
	}
	.title{
		border: solid 3px $pink;
		color:$pink;
		margin-bottom:0;

		@include breakpoint(small){
			width:100%;
			text-align:center;
			padding:0;
			margin:0 auto;
		}
	}
	.iconwrap{
	width:800px;
	height: 100%;
	margin: 80px auto;
	padding:0;
	padding-left:20px;
	@include breakpoint(medium){
		width:600px;
	}
	@include breakpoint(small){
		width:400px;
	}
	@include breakpoint(xsmall){
		width:300px;
	}
}
	.icon{
		display: block;
		width:25%;
		height:100px;
		float:left;
		cursor:pointer;
		@include breakpoint(medium){
			display:block;
			width:50%;
			margin:0;
			
		}
		@include breakpoint(small){
			display:block;
			width:50%;
			margin:0;
			
		}
		@include breakpoint(xsmall){
			width:80%;
			margin-left:20%;
		}
		&:last-child{
			width:150px;
		}
		&:hover path{
			fill: $turq;
			transition: all 300ms;
			
		}
		&:hover h1{
			color: $turq;
			transition: all 300ms;
			
		}
		&:hover i{
			color: $turq;
			transition: all 300ms;
			
		}
		h1 {
			color:#fff;
			font-size:1.5em;
			display:inline-block;
			margin-left:20px;
			line-height:20px;
		}
		i {
			color:#fff;
			font-size:3em;
			float:left;
		}
	
	}
}
svg {
	display:block;
	float:left;
	cursor:pointer;
	position:relative;
	width:50px;
	height: 50px;
	transition: all 300ms;
	border-radius:50px;
	background-color:#333;
	&:hover h1 {
		background-color:#333;

	}
	
	&.linkedin{
		border-radius:0;
	}

	
}

.back{
	display:none;
	z-index:10000;
	cursor: pointer;
	position:fixed;
	top:0;right:0;
	border:none;
	padding:40px;
	margin:30px;
	text-shadow: 0 0 3px rgba(255,255,255,.3);
	background-color:#333;
	i {
	font-size: 2em;
	color: #fff;
	}
	&:focus{
		outline: none;
	}
}
/* Project Slide */
.project{
	position: relative;
	z-index:1000;
	height: auto;
	min-height:100vh;
	width: 100%;
	float:left;
	display:none;

	.categories{
		font-size:1.4em;
		margin-top: 360px;
		width:100%;

	}
	img{
	
		width:100%;
		border:none;
		padding:5px;
		margin:0;
		float:left;
	}
	.smallcenter{
		display:block;
		width:50%;
		margin-left:30%;
	}
	.shadow{
		box-shadow: 0 0 5px 3px rgba(0,0,0,.1);
	}
	.half{
		width: 50%;
	}
	.third{
		width: 33.333%;
	}
	p{
		display:inline-block;
		padding-bottom:10px;
		margin-bottom:10px;
	}

	button{
		font-family: klinic-medium;
		font-size:1.8em;
		border:none;
		display:block;
		width:420px;
		margin: 40px auto;
		margin-bottom: 40px;

		transition: all 300ms;
		cursor:pointer;
		padding: 10px;
		padding-left:20px;
		padding-right:20px;
		text-align:center;
		color:#fff;
		background-color: #444;
		border-bottom: solid 4px #333;

		&:hover{
			background-color:#000;
		}

	}
	.project-title {
	  font-size: 1.8em;
	  display:block;
	  position: absolute;
	  
	  padding: 10px;
	  padding-left: 20px;
	  padding-right:20px;
	  z-index:10000;
	  
	}
}

.somafm-border{
	border:solid 20px $pink;
	@include breakpoint(medium){
		border:solid 10px $pink;
		
	}
}
.bikenow-border{
	border:solid 20px $turq;
	@include breakpoint(medium){
		border:solid 10px $turq;
	}
}
.no-border{
	border:none;
}

.project-content{
	width:100%;
	max-width:1200px;
	height: auto;
	margin: 0 auto;
	padding:40px;
	padding-top:100px;
	padding-bottom:150px;
	overflow:auto;
	@include breakpoint(medium){
		padding:40px;
		padding-top:100px;
		
	}
}

.header-img{
	position:absolute;
	top:0;right:0;left:0;
	height:400px;
	&.bikenow{
	background: #333 url('../imgs/projects/bikenow.png') center center no-repeat;
}
	&.somafm{
	background: #333 url('../imgs/projects/somafm.png') center center no-repeat;
	}
	&.sterngrove{
	background: #333 url('../imgs/projects/sterngrove.png') center center no-repeat;
	}
	&.infanta{
	background: #333 url('../imgs/projects/infanta.png') center center no-repeat;
	}
}

.project-title{
	position:absolute;
	background-color: $pink;
	margin-top:190px;
}

.turq-bg{
	background-color: $turq;
	color:#fff;
}

.pink-bg{
	background-color: $pink;
	color:#fff;
}



i.uptop{
	display:block;
	display:none;
	cursor: pointer;
	position: fixed;
	bottom:0;right:0;
	margin:60px;
	color:#000;
	font-size: 2em;
	transition: color 300ms;
	border-radius: 7px;
	height:40px;
	z-index:10000;
	&:hover{
		color: #444;
	}
}

footer {
	background-color: lighten(#000, 14%);
	position:relative;
	float:left;
	height:180px;
	width:100%;
	color:#fff;

	.wrap{
		padding-top:38px;
		a {
			font-size:1.2em;
			font-family: klinic-light;
			color:#555;
			&:hover{
			color: $turq;
			transition: color 300ms;
			}
		}
	}
	hr {
		float:left;
		border:none;
		border-bottom: solid 1px #444;
		display: block;
		width: 270px;
		margin-bottom:5px;
		&:before{
			content:"";
			clear: both; 
			float: left; 
			display: block; 
			position: relative;
		}
	}
	p{
		padding:0;margin:0;
		display: inline-block;
		float:left;
		width:100%;
		height:24px;
		font-size:1.2em;
		color:#555;
		&:last-child{
			font-size:1.2em;
		}
	}
	i{
		color: #444;
		font-size:1.4em;;
	}

}

.next{
	width: 100%;
	background-color:#eee;
	height:100px;
	text-align:center;
	bottom:0;right:0;left:0;
	margin-top:100px;
	cursor:pointer;
	h1{
		padding-top:30px;
	}
	&:hover{
		transition: all 500ms;
		background-color: #ddd;
	}
}

.work .title, .about .title, h1.title .contactme, .social .title{
			border:none;
			font-size:2.5em;
		}
		
		.back{

			font-size:1em;
			width:30px;
			height:30px;
			padding:0;
			margin-right:25px;
			margin-top:25px;
			background-color:transparent;
			z-index:10000;
			color:#fff;
		}
		.back:hover{
			color:#ddd;
		}
		i.uptop{
			font-size:1.7em;
			margin-bottom:20px;
			margin-right:31px;

		}
		.project-content p.categories {
			font-size:1.1em;
		}
		.project-content .wrap {
			max-width:900px;
			padding-left:80px;
			padding-right:80px;
		}
		
		.project-content p{
			font-size:1.3em;
			
			padding:10px;
		
			padding-right:100px;
			padding-bottom:0;
			padding-top:0;
			display:block;
			
		}
		.project-content img{
			border:none;
		}
		.about p{
			font-size:1.6em;
		}
