.container {
	width: 100%;
	height: 100%;
	position:relative;
}

.wrap {
	position:relative;
	width:80%;
	max-width:1100px;
	margin: 0 auto;
}
.header {
	position:relative;
	width:100%;
	height: 400px;
	background-color: darken(whitesmoke, 5%);
}
.intro {
	display:inline-block;
	position: relative;
	margin: 100px auto;
	width: auto;
	height:100px;
	font-size:25px;
	min-width:300px;
	
}
.hello {
	margin-left:0;
	line-height:45px;
	margin-bottom: 5px;

}
.special {
	color: darken(whitesmoke, 5%);
	margin-top: 0;
	float:left;
	margin-left:-15px;

}

.work{
	height: 80%;
	width:100%;
	height: auto;
	background-color:#fff;
	float:left;
	overflow: hidden;
	.wrap{
		margin-top:100px;
		padding-bottom:100px;
	}
	p {
		color: #000;
		font-family: klinic-light;
	}
	
}
.me{
	background-color:darken(pink, 15%);
	color:#333;
	font-family: klinic-bold;
}
.about{
	width:100%;
	height:100%;
	background-color:#333;
	float:left;
	

	p {
		color: #fff;
		font-family: klinic-light;
	}
	.wrap {
		margin-top:10%;

	}
}
.me{
	background-color:darken(pink, 15%);
	color:#333;
	font-family: klinic-bold;
}


.item{
	display: relative;
	padding:10px;
	-webkit-transition: all 300ms;
	width: 250px;
}

nav ul {
	z-index:100;
	position: absolute;
	right:0;
	width:600px;
	height:100px;
}
nav ul li {
	padding-left: 30px;
	display: block;
	float:left;
	font-size:20px;


}

.contact{
	background-color: darken(turquoise, 10%);
	width:100%;
	height: 1000px;
	float:left;
}
.contactme{
	background-color:#fff;
}

label{float:left;}
input{
	float:left;

}
.nameholder,.emailholder,.messageholder{
	display: inline-block;
	width:100%;
	height:auto;
}