h1, h2, h3, h4 {
	font-family: klinic-medium, sans-serif;
  font-weight:normal;
  margin-left:-15px;
}
p, ul, li {
	font-family: klinic-light, sans-serif;
  font-weight:normal;
  font-size:2em;
}
a { 
  font-weight: normal;
  font-family: klinic-medium;
  text-decoration: none;
  color:#333;
  padding: 5px;
  font-size:26px;
  text-align:center;
  transition: all 300ms;
  &:hover{ 
    background-color:#333;
    color:#fff;
    transition: all 300ms;
  }

}
.light {
	font-family: klinic-light; 
}
.bold {
	font-family: klinic-bold;
}
.highlight {
  font-size: 40px;
  display: inline-block;
  position: relative;
  padding: 10px;
  padding-left: 20px;
  padding-right:20px;
  z-index:10;
  transition: all 500ms;
  //background-color:darken(turquoise, 25%);
  color:#fff;
}
.highlight:before {
  z-index:-10;
  display: block;
  position: absolute;
  top:0;
  left:0;
  width: 0px;
  height: 100%;
  content: "";
  background-color:darken(turquoise, 10%);
  transition: width 500ms;
  -webkit-animation: onload 1s;
  -webkit-animation-fill-mode: forwards;
  animation: onload 1s;
  animation-fill-mode: forwards;
}
@keyframes onload
{
	0%{ width:0;}
	100%{ width: 100%; }
}
@-webkit-keyframes onload
{
	0%{ width:0;}
	100%{ width: 100%; }
}


.title {
  font-size: 40px;
  display: inline-block;
  position: relative;
  padding: 10px;
  padding-left: 20px;
  padding-right:20px;
  z-index:10;

}
.title:before {
  z-index:-10;
  display: block;
  position: absolute;
  top:0;
  left:0;
  width: 0px;
  height: 100%;
  content: "";
}
.project-title {
  background-color:red;
  font-size: 40px;
  display: inline-block;
  position: relative;
  padding: 10px;
  padding-left: 20px;
  padding-right:20px;
  z-index:10;

}
.project-title:before {
  z-index:-10;
  display: block;
  position: absolute;
  top:0;
  left:0;
  width: 0px;
  height: 100%;
  content: "";
}